# Lines starting with '#' are considered comments.
# Ignore objects and archives.
*.[oa]
*.l[oa]
*/.libs

# Ignore doc
doc/*
!doc/auryn_logo_small.png
# Ignore emacs backups
*~
# Ignore stuff in the build dir
build/*

